@import "normalize";
@import "aos";
@import "preloader";
@import "default";
$transition: 0.2s;
$px: 0.0520833333333333;
$rem: 16;

// GENERAL DOCUMENT STYLES
* {
  box-sizing: border-box;
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  font-feature-settings: 'pnum' on, 'lnum' on;
}
html{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  font-size: 10px;
}
body{
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
  position: relative;
  @media all and (max-width: 768px){
    height: auto;
  }
}
.locked{
  overflow: hidden;
}
img{
  max-width: 100%;
}
main{
  flex: 1;
}
.padding-right{
  padding-right: 156px;
  @media all and (max-width: 1800px){
    padding-right: 125px;
  }
  @media all and (max-width: 1600px){
    padding-right: 100px;
  }
  @media all and (max-width: 1400px){
    padding-right: 75px;
  }
  @media all and (max-width: 1024px){
    padding-right: 50px;
  }
  @media all and (max-width: 768px){
    padding-right: 35px;
  }
  @media all and (max-width: 500px){
    padding-right: 20px;
  }
}
.padding-left{
  padding-left: 156px;
  @media all and (max-width: 1800px){
    padding-left: 125px;
  }
  @media all and (max-width: 1600px){
    padding-left: 100px;
  }
  @media all and (max-width: 1400px){
    padding-left: 75px;
  }
  @media all and (max-width: 1024px){
    padding-left: 50px;
  }
  @media all and (max-width: 768px){
    padding-left: 35px;
  }
  @media all and (max-width: 500px){
    padding-left: 20px;
  }
}
.main-container{
  max-width: 1920px;
  margin: auto;
  width: 100%;
  @extend .padding-left;
  @extend .padding-right;
}
.small-container {
  max-width: 1363px;
  margin: auto;
  width: 100%;
  @extend .padding-left;
  @extend .padding-right;
}
.section-title{
  font-size: 40px;
  font-weight: 800;
  line-height: 98.3%;
  color: #1D1D1D;
  text-transform: uppercase;
  margin-bottom: 4rem;
  @media all and (max-width: 1600px){
    font-size: 38px;
    margin-bottom: 36px;
  }
  @media all and (max-width: 1440px){
    font-size: 36px;
    margin-bottom: 34px;
  }
  @media all and (max-width: 1200px){
    font-size: 34px;
    margin-bottom: 32px;
  }
  @media all and (max-width: 1024px){
    font-size: 32px;
    margin-bottom: 28px;
  }
  @media all and (max-width: 768px){
    font-size: 30px;
    margin-bottom: 24px;
  }
  @media all and (max-width: 500px){
    font-size: 28px;
    margin-bottom: 20px;
  }
  strong, b{
    color: #C92D36;
    font-weight: 800;
  }
}
.button-skew{
  display: inline-flex;
  align-items: center;
  padding:0 40px;
  height:51px;
  color:#fff;
  text-decoration:none;
  font-size:1.6rem;
  font-weight:600;
  letter-spacing:0.05em;
  text-transform:uppercase;
  background:#C92D36;
  text-align:center;
  position:relative;
  cursor: pointer;
  border: none;
  p{
    color:#fff;
    margin-bottom: 0;
    text-decoration:none;
    font-size:1.6rem;
    font-weight:600;
    letter-spacing:0.05em;
    text-transform:uppercase;
    background:#C92D36;
  }
  &:before {
    content:'';
    display:block;
    clear:both;
    width:0;
    height:0;
    border-left:16px solid transparent;
    border-bottom:51px solid #C92D36;
    position:absolute;
    top:0;
    left:-16px;
  }
  &:after {
    content:'';
    display:block;
    clear:both;
    width:0;
    height:0;
    border-right:16px solid transparent;
    border-top:51px solid #C92D36;
    position:absolute;
    top:0;
    right:-16px;
  }
}
.swiper-pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  &-bullet{
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    margin: 0 24px;
    border-radius: 0;
    background-color: transparent;
    opacity: 1;
    &:before{
      content: "";
      width: 10px;
      height: 10px;
      background-color: #E0E0E0;
    }
    &-active{
      border: 1px solid #1D1D1D;
      background-color: transparent;
      &:before{
        background-color: #1D1D1D;
      }
    }
  }
}
.wpcf7-response-output{
  display: none!important;
}
.wpcf7-not-valid-tip{
  text-align: left;
  color: rgba(201, 45, 54, 1);
  font-size: 12px;
}
.wpcf7-not-valid{
  border: 1px solid rgba(201, 45, 54, 1)!important;
}
.page-template-thanks-php{
  .banner-image{
    min-height: 100vh;
  }
}

@import "templates/preloader";
@import "templates/header";
@import "templates/banner";
@import "templates/featured";
@import "templates/text";
@import "templates/equipment";
@import "templates/form";
@import "templates/banner-image";
@import "templates/three-column";
@import "templates/contacts-form";
@import "templates/popup";
@import "templates/sell-form";
@import "templates/sale";
@import "templates/truck-single";
@import "templates/popup-truck";
@import "templates/mobile-menu";
@import "templates/404";

@import "templates/footer";

