.equipment{
  margin: 8rem auto;
  &__container{

  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    margin-right: -28px;
    width: calc(100% + 28px);
  }
  &__item{
    width: calc(20% - 28px);
    margin-right: 28px;
    background-color: #1D1D1D;
    padding: 34px 10px 22px 10px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    &:hover{
      background-color: #C92D36;
    }
    &-title{
      margin-top: 33px;
      font-size: 2rem;
      font-weight: 500;
      color: #FFFFFF;
      text-align: center;
    }
  }
}