.truck-template-default{
  padding-top: 200px;
  @media all and (max-width: 1024px){
    padding-top: 120px;
  }
  .header{
    background-color: #1d1d1d;
  }
}
.truck-single{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &__img{
    width: 607px;
    img{
      width: 100%;
    }
    @media all and (max-width: 1200px){
      width: 440px;
    }
    @media all and (max-width: 1024px){
      width: 100%;
    }
    .big{
      margin-bottom: 20px;
      border-radius: 5px;
    }
    .swiper-button-next, .swiper-button-prev{
      color: rgba(29, 29, 29, 1);
    }
    .small{
      .swiper-slide{
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        &-thumb-active{
          &:before{
            opacity: 0;
          }
        }
        &:hover{
          &:before{
            opacity: 0;
          }
        }
        &:before{
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(29, 29, 29, 0.5);
          transition: 0.3s ease-in-out;
        }
      }
    }
  }
  &__content{
    width: calc(100% - 657px);
    @media all and (max-width: 1200px){
      width: calc(100% - 500px);
    }
    @media all and (max-width: 1024px){
      width: 100%;
    }
  }
  &__title{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: left;
    @media all and (max-width: 1024px){
      margin-top: 40px;
      font-size: 32px;
    }
  }
  &__sku{
    font-size: 16px;
    font-weight: 400;
    color: rgba(130, 130, 130, 1);
    margin-bottom: 15px;
  }
  &__price{
    color: rgba(201, 45, 54, 1);
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 41px;
  }
  &__meta{

  }
  &__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 18px;
    border-bottom: 1px dotted rgba(189, 189, 189, 1);
    padding-top: 17px;
    &:last-child{
      border-bottom: none;
    }
    .name{
      color: rgba(130, 130, 130, 1);
      font-size: 16px;
      font-weight: 500;
    }
    .value{
      color: rgba(0, 0, 0, 1);
      font-size: 16px;
      font-weight: 500;
    }
  }
  &__tabs{
    margin-top: 33px;
    width: 100%;
    &-header{
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba(29, 29, 29, 1);
    }
    .tabs-nav-item{
      padding: 10px 23px;
      background-color: rgba(224, 224, 224, 1);
      margin-right: 2px;
      color: rgba(130, 130, 130, 1);
      font-size: 20px;
      font-weight: 600;
      cursor: pointer;
      transition: 0.3s ease-in-out;
      @media all and (max-width: 768px){
        font-size: 18px;
        padding: 10px 20px;
      }
      @media all and (max-width: 440px){
        font-size: 16px;
        padding: 10px 10px;
      }
      &.active, &:hover{
        color: #FFFFFF;
        background-color: rgba(29, 29, 29, 1);
      }
    }
    &-content{
      margin-top: 30px;
      //max-height: 300px;
      //overflow-y: scroll;
    }
  }
  &__button{
    margin-top: 50px;
    text-align: right;
    form{
      p{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-right: -20px;
        width: calc(100% + 20px);
        @media all and (max-width: 1500px){
          justify-content: flex-end;
        }
        @media all and (max-width: 500px){
          flex-direction: column;
          margin-right: 0;
          width: 100%;
        }
        > span{
          width: calc(33.333% - 20px);
          position: relative;
          @media all and (max-width: 1500px){
            width: calc(50% - 20px);
          }
          @media all and (max-width: 500px){
            width: 100%;
            margin-right: 0;
          }
          margin-right: 20px;
          margin-bottom: 20px;
          span{
            position: absolute;
            top: calc(100% - 2px);
            left: 0;
            width: 100%;
          }
        }
        button{
          margin-left: auto;
          margin-right: 36px;
          margin-bottom: 20px;
          @media all and (max-width: 500px){
            margin-right: auto;
            margin-left: auto;
          }
        }
      }
      input{
        width: 100%;
        border-radius: 5px;
        font-weight: 400;
        font-size: 16px;
        color: #1D1D1D;
        padding: 1.8rem 2.6rem;
        border: 1px solid rgba(130, 130, 130, 0.5);
        &::placeholder{
          font-weight: 400;
          font-size: 16px;
          color: #BDBDBD;
        }
      }
      &:last-child{
        margin-right: 0;
      }
    }
  }
}